/* #region loading spinner */

.loading_spin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 16px;
    padding: 5px;
}

.hide_spin {
    display: none;
}

.loading_msg {
    font-size: 1.5rem;
    font-weight: 700;
}

.loading_spinner {
    position: relative;
    height: 80px;
    width: 80px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    border: 3px solid black;
    animation: spin 1s linear infinite;
}

.loading_spinner:before {
    content: "";
    position: absolute;
    height: 8%;
    width: 100%;
    background: black;
    top: 50%;
    transform: translatey(-50%);
}

.loading_spinner:after {
    content: "";
    position: absolute;
    height: 38%;
    width: 38%;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
        inset 0 0 0 4px black,
        inset 0 0 0 10px white,
        inset 0 0 0 12px black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* #endregion */

/* #region "show-more" */

.load_more_box {
    .hide_load_btn {
        display: none;
    }
}

.load_more_box {
    .hide_back_btn {
        display: none;
    }
}

/* #endregion */

/* #region search-bar */

.hide_search_img {
    opacity: 0.5;
}

.search_field::-webkit-search-cancel-button {
    filter: hue-rotate(150deg) brightness(2);
    opacity: 1;
    background-color: black;
    margin-right: 5px;
    padding: 5px;
}

/* #endregion */

/* #region dialog */

.dialog_container {
    .dialog_box {
        .dialog_footer {
            .hide_prev_btn {
                visibility: hidden;
            }

            .hide_next_btn {
                visibility: hidden;
            }
        }
        .dialog_main .dialog_content .main_info .detail_info_box {
            .toggle_img {
                .hide_img_btn {
                    display: none;
                }
            }
        }
    }
}

.dialog_main::-webkit-scrollbar {
    width: 7px;
}

.dialog_main::-webkit-scrollbar {
    padding: 2px 0;
    background-color: var(--content_bg_color);
}

.dialog_main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--evolutions_container_bg);
}

/* #endregion */
