.dialog_container {
    width: 90%;
    max-width: 700px;
    height: 85vh;
    background-color: var(--dialog_header_footer_bg);
    align-self: center;
    justify-self: center;
    position: fixed;
    top: 100px;
    border: 3px solid rgba(255, 254, 254, 0.486);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgb(65, 61, 61);

    .dialog_box {
        width: 100%;
        height: 100%;
        color: var(--dialog_text_dark);
        display: flex;
        flex-direction: column;

        .dialog_header {
            width: 100%;
            height: 100px;
            background-color: var(--dialog_header_footer_bg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
            position: sticky;
            top: 0;
            z-index: 1;

            h2 {
                font-size: 1.625rem;
                font-weight: 700;
                line-height: 120%;
                color: var(--dialog_text_highlight);
            }

            p {
                font-size: 1rem;
                font-weight: 500;
                line-height: 120%;
                color: var(--dialog_text_light);
            }

            button {
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 50px;
                background-color: var(--text_medium);
                box-shadow: 2px 3px 2px 2px var(--btn_shadow);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text_light);
                font-size: 30px;
                font-weight: 800;
            }

            button:hover {
                background-color: var(--btn_hover_bg);
                border: 2px solid var(--btn_hover_border);
            }

            button:active {
                box-shadow: 2px 3px 2px 2px var(--btn_shadow_dark);
                transform: translateY(4px);
            }
        }

        .dialog_main {
            overflow-y: auto;

            .dialog_content {
                width: 100%;
                height: fit-content;
                background-color: var(--dialog_content_bg);
                background-image: url("../assets/img/pkm_background.png");
                background-attachment: fixed;
                background-position: center;
                background-blend-mode: overlay;
                display: flex;
                flex-direction: column;
                gap: 60px;
                padding: 20px 24px;

                .main_info {
                    width: 100%;
                    height: 300px;
                    display: flex;
                    justify-content: space-between;

                    .img_type_box {
                        width: 45%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .dialog_img {
                            width: 100%;
                            height: 260px;
                            border-radius: 5%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 90%;
                                height: auto;
                                filter: drop-shadow(var(--pkm_img_shadow) 9px -1px 4px);
                            }
                        }

                        .data_type {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .single_type {
                                width: 45%;
                                text-align: center;
                                color: var(--text_highlight);
                                text-shadow: 1px 1px 1px var(--text_shadow_types);
                                font-weight: 700;
                                line-height: 140%;
                                border-radius: 10px;
                                padding: 2px;
                            }
                        }
                    }

                    .detail_info_box {
                        width: 52%;
                        height: auto;
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .toggle_img {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 10px;
                            padding-bottom: 10px;

                            button {
                                width: 100%;
                                height: 50px;
                                background: none;
                                border: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50px;
                                gap: 20px;

                                img {
                                    width: 30px;
                                    height: auto;
                                }

                                p {
                                    font-size: 1.125rem;
                                    color: var(--text_highlight);
                                    text-shadow:
                                        1px 1px 2px black,
                                        1px 1px 1px black;
                                }
                            }

                            .shiny {
                                background: radial-gradient(
                                    circle,
                                    rgba(214, 146, 86, 1) 10%,
                                    rgba(209, 159, 115, 1) 38%,
                                    rgba(191, 167, 115, 1) 66%,
                                    rgba(247, 226, 183, 1) 87%,
                                    rgba(255, 236, 230, 1) 100%
                                );
                                box-shadow: 2px 3px 2px 2px var(--btn_shadow_light);
                            }

                            .shiny:hover {
                                background: radial-gradient(
                                    circle,
                                    rgba(247, 225, 176, 1) 10%,
                                    rgba(247, 210, 178, 1) 38%,
                                    rgba(222, 197, 153, 1) 66%,
                                    rgba(255, 239, 204, 1) 87%,
                                    rgba(255, 232, 224, 1) 100%
                                );
                            }

                            .shiny:active {
                                box-shadow: 2px 3px 2px 2px var(--btn_shadow_dark);
                                transform: translateY(4px);
                            }

                            .default {
                                background: radial-gradient(
                                    circle,
                                    rgba(77, 75, 75, 1) 10%,
                                    rgba(99, 99, 99, 1) 38%,
                                    rgba(155, 155, 158, 1) 66%,
                                    rgba(196, 196, 204, 1) 87%,
                                    rgba(232, 232, 232, 1) 100%
                                );
                                box-shadow: 2px 3px 2px 2px var(--btn_shadow_light);
                            }

                            .default:hover {
                                background: radial-gradient(
                                    circle,
                                    rgba(43, 41, 35, 1) 10%,
                                    rgba(61, 61, 61, 1) 38%,
                                    rgba(105, 105, 105, 1) 66%,
                                    rgba(148, 148, 148, 1) 87%,
                                    rgba(189, 189, 189, 1) 100%
                                );
                            }

                            .default:active {
                                box-shadow: 2px 3px 2px 2px var(--btn_shadow_dark);
                                transform: translateY(4px);
                            }
                        }

                        .description {
                            font-size: 1.125rem;
                            line-height: 120%;
                        }
                    }
                }

                .attributes {
                    width: 100%;
                    height: fit-content;
                    font-size: 1rem;
                    line-height: 120%;

                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        li {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 2px solid var(--text_light);
                            font-size: 1.125rem;

                            .attribute_title {
                                font-weight: 700;
                            }

                            .attribute_value {
                                color: var(--dialog_text_medium);
                            }
                        }
                    }
                }

                .stats {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 700;
                        padding-bottom: 10px;
                    }

                    .stat_row {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 130px 1fr 50px;
                        align-items: center;
                        gap: 30px;

                        p {
                            font-size: 1.125rem;
                            font-weight: 600;
                            color: var(--dialog_text_medium);
                        }

                        .stat_bar_track {
                            width: 100%;
                            height: 10px;
                            border-radius: 50px;
                            background-color: var(--pkm_cards_bg_color);
                            box-shadow: 0 0 3px 1px rgb(156, 154, 154);
                            overflow: hidden;

                            .stat_bar_fill {
                                height: 100%;
                                border-radius: 50px;
                            }

                            .stat_hp {
                                background-color: rgb(156, 199, 116);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }

                            .stat_attack {
                                background-color: rgb(221, 133, 121);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }

                            .stat_defense {
                                background-color: rgb(116, 155, 199);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }

                            .stat_sp_attack {
                                background-color: rgb(216, 145, 79);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }

                            .stat_sp_defense {
                                background-color: rgb(189, 152, 219);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }

                            .stat_speed {
                                background-color: rgb(224, 181, 88);
                                box-shadow: inset 0 0 3px 1px var(--pkm_container_bg_color);
                            }
                        }
                    }
                }

                .evo_container {
                    width: 100%;
                    min-height: fit-content;
                    background-color: var(--evolutions_container_bg);
                    background-image: url("../assets/img/pkm_background.png");
                    background-attachment: fixed;
                    background-position: center;
                    background-blend-mode: soft-light;
                    border-radius: 10px;
                    padding: 20px;

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 700;
                        padding-bottom: 10px;
                        color: var(--text_highlight);
                    }

                    .evo_chain {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 70px;
                        padding: 10px;

                        .evo_stage {
                            width: 140px;
                            height: fit-content;
                            display: flex;

                            .evo_branch_wrap {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                gap: 16px;
                            }

                            .evo_wrapper {
                                width: 140px;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                .evo_img {
                                    width: 100%;
                                    height: 130px;
                                    background-color: var(--evolutions_container_bg);
                                    border: 3px solid var(--pkm_container_bg_color);
                                    border-radius: 50%;
                                    box-shadow: 2px 3px 2px 2px var(--btn_shadow);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: 75%;
                                        height: auto;
                                    }
                                }

                                .evo_title {
                                    text-align: center;

                                    .evo_name {
                                        color: var(--text_highlight);
                                        font-weight: 700;
                                    }

                                    .evo_nr {
                                        color: var(--text_light);
                                        font-weight: 500;
                                    }
                                }

                                .evo_type {
                                    display: flex;
                                    justify-content: center;
                                    gap: 8px;

                                    .single_type {
                                        width: 60%;
                                        text-align: center;
                                        color: var(--text_highlight);
                                        text-shadow: 1px 1px 1px var(--text_shadow_types);
                                        font-weight: 700;
                                        line-height: 140%;
                                        border-radius: 10px;
                                        padding: 2px;
                                    }
                                }
                            }
                        }

                        .first:after,
                        .middle:after {
                            content: "⟩";
                            font-size: 300%;
                            font-weight: 800;
                            color: var(--text_highlight);
                            position: absolute;
                            left: 120%;
                            top: 15%;
                        }
                    }

                    .evo_chain.branched {
                        flex-direction: column;
                        gap: 75px;
                    }

                    .evo_chain.branched .evo_stage {
                        width: 100%;
                        justify-content: center;
                        align-self: center;
                    }

                    .evo_chain.branched .evo_stage .evo_branch_wrap {
                        width: 100%;
                        gap: 40px;
                    }

                    .evo_chain.branched .first:after,
                    .evo_chain.branched .middle:after {
                        left: 49%;
                        top: 102%;
                        rotate: 90deg;
                    }
                }
            }
        }

        .dialog_footer {
            width: 100%;
            height: 100px;
            background-color: var(--dialog_header_footer_bg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
            position: sticky;
            bottom: 0;
            z-index: 1;

            button {
                width: 90px;
                height: 50px;
                border: none;
                border-radius: 50px;
                background-color: var(--text_medium);
                box-shadow: 2px 3px 2px 2px var(--btn_shadow);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 30px;
                color: var(--text_light);
                font-size: 30px;
                font-weight: 800;

                img {
                    width: 100%;
                    height: auto;
                }

                .btn_left {
                    rotate: 180deg;
                }
            }

            button:hover {
                background-color: var(--btn_hover_bg);
                border: 2px solid var(--btn_hover_border);
            }

            button:active {
                box-shadow: 2px 3px 2px 2px var(--btn_shadow_dark);
                transform: translateY(4px);
            }
        }
    }
}

dialog::backdrop {
    opacity: 0;
    background-color: var(--pkm_img_shadow);
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: 250ms ease-in;
}
