@media screen and (max-width: 509px) {
    .pokemon_container {
        .pokemon_card {
            width: 100%;
        }
    }
}

@media screen and (min-width: 510px) and (max-width: 767px) {
    .pokemon_container {
        .pokemon_card {
            width: 50%;
        }
    }
}

@media screen and (max-width: 668px) {
    .dialog_container {
        .dialog_box {
            .dialog_header {
                height: 70px;
                padding: 20px clamp(10px, calc(-17.586px + 8.621vw), 40px);

                h2 {
                    font-size: 1.4rem;
                }

                button {
                    width: 30px;
                    height: 30px;
                    font-size: 1.125rem;
                }
            }

            .dialog_main {
                .dialog_content {
                    padding: 20px clamp(10px, calc(-17.586px + 8.621vw), 40px);
                    gap: 45px;

                    .main_info {
                        height: 460px;
                        width: 100%;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 15px;

                        .img_type_box {
                            width: 100%;

                            .dialog_img {
                                width: 100%;

                                img {
                                    width: 90%;
                                    max-width: 260px;
                                }
                            }
                        }

                        .detail_info_box {
                            width: 100%;
                            padding: 0;

                            .toggle_img {
                                button {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .attributes {
                        ul {
                            li {
                                flex-direction: column;
                                font-size: 1rem;

                                .attribute_value {
                                    text-align: end;
                                }
                            }
                        }
                    }

                    .stats {
                        gap: 0;

                        .stat_row {
                            display: block;

                            p {
                                font-size: 1rem;
                            }

                            .stat_bar_track {
                                margin-block: 4px;
                            }

                            .stat_label {
                            }

                            .stat_value {
                                display: flex;
                                justify-content: flex-end;
                                transform: translateY(-37px);
                            }
                        }
                    }

                    .evo_container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3 {
                            padding-bottom: 25px;
                        }

                        .evo_chain {
                            flex-direction: column;
                            align-items: center;
                            flex-wrap: nowrap;

                            .first:after,
                            .middle:after {
                                left: 47%;
                                top: 102%;
                                rotate: 90deg;
                            }
                        }
                    }
                }
            }

            .dialog_footer {
                height: 70px;
                padding: 20px clamp(10px, calc(-17.586px + 8.621vw), 40px);

                button {
                    width: 80px;
                    height: 38px;
                }
            }
        }
    }

    .dialog_main::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 788px) {
    .main_header {
        height: 160px;
        flex-direction: column;
        justify-content: unset;
        gap: 20px;
        padding: 10px;

        h1 {
            margin: 0;
        }

        .search_bar {
            .search_wrapper {
                gap: 8px;

                .btn_wrapper {
                    gap: 8px;

                    .search_btn {
                        width: 40px;
                        height: 40px;
                    }

                    .surprise_btn {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .hint_message {
                margin-left: 15px;
            }
        }
    }

    .pokemon_container {
        padding: 70px clamp(0px, calc(-34.286px + 10.714vw), 120px) 30px;
    }

    .load_more_box {
        button {
            width: 200px;
            height: 65px;

            p {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 789px) and (max-width: 1023px) {
    .pokemon_container {
        .pokemon_card {
            width: 30%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

@media screen and (min-width: 1441px) {
    .main_header {
        padding: 35px max(120px, calc(50% - 720px)) 10px;
    }

    .main_footer {
        padding: 0px max(120px, calc(50% - 720px));
    }

    .pokemon_container {
        padding: 135px max(120px, calc(50% - 720px)) 30px;
    }
}
