/* #region type-box colors */

.bg_grass {
    background-color: #759b3c;
}

.bg_fire {
    background-color: #d66c21;
}

.bg_water {
    background-color: #4087b6;
}

.bg_poison {
    background-color: #9666a3;
}

.bg_flying {
    background-color: #75949c;
}

.bg_bug {
    background-color: #a7ad46;
}

.bg_normal {
    background-color: #949c9e;
}

.bg_electric {
    background-color: #caa013;
}

.bg_rock {
    background-color: #a38c21;
}

.bg_ground {
    background-color: #836512;
}

.bg_ice {
    background-color: #51c4e7;
}

.bg_fighting {
    background-color: #a15f35;
}

.bg_psychic {
    background-color: #b96897;
}

.bg_ghost {
    background-color: #504168;
}

.bg_dragon {
    background-color: #813ad3;
}

.bg_dark {
    background-color: #494646;
}

.bg_steel {
    background-color: #859996;
}

.bg_fairy {
    background-color: #cf9db2;
}

/* #endregion */

/* #region card-background colors */

.pokemon_card.grass {
    .pkm_img_box {
        background-color: #759b3c33;
    }
}

.pokemon_card.fire {
    .pkm_img_box {
        background-color: #d66c2127;
    }
}

.pokemon_card.water {
    .pkm_img_box {
        background-color: #4087b623;
    }
}

.pokemon_card.poison {
    .pkm_img_box {
        background-color: #9666a328;
    }
}

.pokemon_card.flying {
    .pkm_img_box {
        background-color: #75949c36;
    }
}

.pokemon_card.bug {
    .pkm_img_box {
        background-color: #a8ad4628;
    }
}

.pokemon_card.normal {
    .pkm_img_box {
        background-color: #949c9e2f;
    }
}

.pokemon_card.electric {
    .pkm_img_box {
        background-color: #ca9f132f;
    }
}

.pokemon_card.rock {
    .pkm_img_box {
        background-color: #a38b213a;
    }
}

.pokemon_card.ground {
    .pkm_img_box {
        background-color: #83651241;
    }
}

.pokemon_card.ice {
    .pkm_img_box {
        background-color: #51c4e736;
    }
}

.pokemon_card.fighting {
    .pkm_img_box {
        background-color: #a15e3538;
    }
}

.pokemon_card.psychic {
    .pkm_img_box {
        background-color: #b968973a;
    }
}

.pokemon_card.ghost {
    .pkm_img_box {
        background-color: #50416833;
    }
}

.pokemon_card.dragon {
    .pkm_img_box {
        background-color: #813ad32d;
    }
}

.pokemon_card.dark {
    .pkm_img_box {
        background-color: #49464652;
    }
}

.pokemon_card.steel {
    .pkm_img_box {
        background-color: #8599964d;
    }
}

.pokemon_card.fairy {
    .pkm_img_box {
        background-color: #cf9db241;
    }
}

/* #endregion */

/* #region hover-effects */

.pokemon_card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pokemon_card.grass:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #2e3d188f,
        0 6px 20px 0 #2e3d188f;

    .pkm_img_box:hover {
        background-color: #759b3c70;
    }
}

.pokemon_card.fire:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #80411569,
        0 6px 20px 0 #80411569;

    .pkm_img_box {
        background-color: #d66c2150;
    }
}

.pokemon_card.water:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #326b9181,
        0 6px 20px 0 #326b9181;

    .pkm_img_box {
        background-color: #4087b654;
    }
}

.pokemon_card.poison:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #67457075,
        0 6px 20px 0 #67457075;

    .pkm_img_box {
        background-color: #9666a356;
    }
}

.pokemon_card.flying:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #75949c62,
        0 6px 20px 0 #75949c62;

    .pkm_img_box {
        background-color: #75949c59;
    }
}

.pokemon_card.bug:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #74773077,
        0 6px 20px 0 #74773077;

    .pkm_img_box {
        background-color: #a8ad465b;
    }
}

.pokemon_card.normal:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #6065669a,
        0 6px 20px 0 #6065669a;

    .pkm_img_box {
        background-color: #949c9ea2;
    }
}

.pokemon_card.electric:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #a781048f,
        0 6px 20px 0 #a781048f;

    .pkm_img_box {
        background-color: #ca9f136b;
    }
}

.pokemon_card.rock:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #a38b21a1,
        0 6px 20px 0 #a38b21a1;

    .pkm_img_box {
        background-color: #a38b216c;
    }
}

.pokemon_card.ground:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #8365129a,
        0 6px 20px 0 #8365129a;

    .pkm_img_box {
        background-color: #83651267;
    }
}

.pokemon_card.ice:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #3fb1d49a,
        0 6px 20px 0 #3fb1d49a;

    .pkm_img_box {
        background-color: #51c4e75d;
    }
}

.pokemon_card.fighting:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #a15e359c,
        0 6px 20px 0 #a15e359c;

    .pkm_img_box {
        background-color: #a15e355b;
    }
}

.pokemon_card.psychic:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #b968979c,
        0 6px 20px 0 #b968979c;

    .pkm_img_box {
        background-color: #b9689757;
    }
}

.pokemon_card.ghost:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #504168b2,
        0 6px 20px 0 #504168b2;

    .pkm_img_box {
        background-color: #50416862;
    }
}

.pokemon_card.dragon:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #813ad3ab,
        0 6px 20px 0 #813ad3ab;

    .pkm_img_box {
        background-color: #813ad356;
    }
}

.pokemon_card.dark:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #494646bb,
        0 6px 20px 0 #494646bb;

    .pkm_img_box {
        background-color: #4946469c;
    }
}

.pokemon_card.steel:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #859996d7,
        0 6px 20px 0 #859996d7;

    .pkm_img_box {
        background-color: #859996a8;
    }
}

.pokemon_card.fairy:hover {
    transform: translateY(-6px);
    box-shadow:
        0 4px 8px 0 #b38397c4,
        0 6px 20px 0 #b38397c4;

    .pkm_img_box {
        background-color: #cf9db277;
    }
}

/* #endregion */

/* #region dialog-img-background */

.dialog_container .dialog_box .dialog_main .dialog_content {
    .main_info .img_type_box {
        .dialog_img.grass {
            background-color: #759b3c33;
        }

        .dialog_img.fire {
            background-color: #d66c2127;
        }

        .dialog_img.water {
            background-color: #4087b623;
        }

        .dialog_img.poison {
            background-color: #9666a328;
        }

        .dialog_img.flying {
            background-color: #75949c36;
        }

        .dialog_img.bug {
            background-color: #a8ad4628;
        }

        .dialog_img.normal {
            background-color: #949c9e2f;
        }

        .dialog_img.electric {
            background-color: #ca9f132f;
        }

        .dialog_img.rock {
            background-color: #a38b213a;
        }

        .dialog_img.ground {
            background-color: #83651241;
        }

        .dialog_img.ice {
            background-color: #51c4e736;
        }

        .dialog_img.fighting {
            background-color: #a15e3538;
        }

        .dialog_img.psychic {
            background-color: #b968973a;
        }

        .dialog_img.ghost {
            background-color: #50416833;
        }

        .dialog_img.dragon {
            background-color: #813ad32d;
        }

        .dialog_img.dark {
            background-color: #49464652;
        }

        .dialog_img.steel {
            background-color: #8599964d;
        }

        .dialog_img.fairy {
            background-color: #cf9db241;
        }
    }
}

/* #endregion */
