.bg_grass {
    background-color: #759b3c;
}

.bg_fire {
    background-color: #d66c21;
}

.bg_water {
    background-color: #4087b6;
}

.bg_poison {
    background-color: #9666a3;
}

.bg_flying {
    background-color: #75949c;
}

.bg_bug {
    background-color: #a7ad46;
}

.bg_normal {
    background-color: #949c9e;
}

.bg_electric {
    background-color: #caa013;
}

.bg_rock {
    background-color: #a38c21;
}

.bg_ground {
    background-color: #836512;
}

.bg_ice {
    background-color: #51c4e7;
}

.bg_fighting {
    background-color: #a15f35;
}

.bg_psychic {
    background-color: #b96897;
}

.bg_ghost {
    background-color: #504168;
}

.bg_dragon {
    background-color: #813ad3;
}

.bg_dark {
    background-color: #494646;
}

.bg_steel {
    background-color: #859996;
}

.bg_fairy {
    background-color: #cf9db2;
}
