:root {
    --header_footer_bg_color: rgb(65, 61, 61);
    --content_bg_color: rgb(223, 213, 213);
    --pkm_container_bg_color: rgb(238, 233, 233);
    --pkm_cards_bg_color: rgb(223, 213, 213);
    --pkm_cards_main_color: rgba(255, 254, 254, 0.486);
    --evolutions_container_bg: rgba(121, 120, 120);

    --text_highlight: rgb(238, 233, 233);
    --text_light: rgb(223, 213, 213);
    --text_span: rgb(173, 172, 172);
    --text_medium: rgb(121, 120, 120);
    --text_dark: rgb(65, 61, 61);
    --text_hint_msg: rgb(207, 93, 93);
    --text_shadow_types: rgb(77, 75, 75);

    --dialog_header_footer_bg: rgb(65, 61, 61);
    --dialog_content_bg: rgb(238, 233, 233);
    --dialog_text_highlight: rgb(238, 233, 233);
    --dialog_text_light: rgb(223, 213, 213);
    --dialog_text_medium: rgb(121, 120, 120);
    --dialog_text_dark: rgb(65, 61, 61);

    --btn_hover_bg: rgb(40, 39, 39);
    --btn_hover_border: rgb(167, 164, 164);
    --btn_shadow: rgb(40, 39, 39);
    --btn_shadow_dark: rgb(0, 0, 0);

    --btn_shiny_bg: rgba(121, 120, 120);
    --btn_shiny_hover: rgb(65, 61, 61);
    --btn_default_bg: rgba(121, 120, 120);
    --btn_default_hover: rgb(65, 61, 61);
    --btn_shadow_light: rgb(78, 78, 78);
    --btn_shadow_dark: rgb(7, 7, 7);
}
